/*폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
  letter-spacing: -0.05em !important;
  font-family: 'Nanum Gothic', sans-serif;
}

/*뒷배경*/
html, body{
  background-color: #DBDBDB;
  height:auto !important;
}

/*그림자 */
header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame, header #right-search-form > input[type=text]{
  box-shadow: 3px 0px 5px;
}

/* 트게더 로고 */
header .row > div:nth-child(1) > a{
  background-repeat: no-repeat;
  display: block;
  width: 145px;
  height: 50px;
  background-image: url("https://spaaace.github.io/StreamerGageu/images/logo2.png");
}

header .row>div:nth-child(1)>a img{
  opacity: 0;
}

/*검색 창*/
header #right-search-form > #right-search-btn{
  color: #64C8B4;
}

header #right-search-form > input[type=text]{
  border-color: #64C8B4;
  border-width: 3px;
  border-radius: 15px 5px;
}

/*헤더 바(로고 밑 최근... 칸)*/
header #header-bar > .row{
  border-top: 4px solid #64C8B4;
  border-radius: 15px 5px;
}

header #header-bar a.dropdown-toggle{
  color: #8F6F3B;
}

header #header-bar #header-top-notice strong.notice-badge{
  background: #DCAA5A;
}

/*왼쪽 트게더 메뉴*/
#main .menu-wrapper{
  border-radius: 15px 5px;
}

#main .menu-wrapper > .header{
  background: #DCAA5A;
  border-radius: 15px 5px;
  border: 0px;
}

#main .menu-wrapper > a > em, #main .menu-wrapper > a > i.fa.fa-square{
  color: #64C8B4;
}

#main .menu-wrapper > a{
  padding: 8px 22px 8px 11px;
}

#main .menu-wrapper .spacer{
  background: #E8FCFF;
  height: 4px;
}

/*메인 콘텐트*/
#main .frame {
  border-radius: 15px 5px;
  border: 0px;
}

#board-info h1 > a{
  text-decoration: none;
  color: #DCAA5A;
  font-weight: bold;
}

#board-info #viewers-area #viewers:before{
  content: "불빠따 ";
  cursor: text;
}

#board-info #viewers-area #viewers:after{
  content: "명 상시 대기중";
  cursor : text;
}

#board-info #board-info-bottom a{
  color:#77A3A8
}

/*카테고리 창*/
#article-list #article-list-category{
  border-top:3px solid #64C8B4;
  background: #242424;
}

#article-list #article-list-category > a{
  background: #242424;
  border-bottom: 3px solid;
  font-weight: bold;
}

#article-list #article-list-category > a.active, #article-list #article-list-category > a:hover{
  background: #242424;
  color: #fff !important;
  border-bottom: 3px solid #333;
}

/*공지 */
#article-list > .article-list-row.notice{
  background-color: #F0BE6E;
}

#article-list > .notice > .item > .list-time, #article-list > .notice > .item > .list-title > small.comment-count, #article-list > .notice > .item > .list-title > .list-writer.logged > span{
  color: #8F6F3B;
}

/*게시글*/
#article-info > h2{
  font-weight: bold;
}

#article-content-wrapper > .header{
  border-top: 2px solid #64C8B4;
  background: #CDCDCD;
}

#article-content-wrapper > .footer{
  border-top: 2px solid #64C8B4;
  border-bottom: 2px solid #64C8B4;
  background: #CDCDCD;
}

#article-reply-area #reply-real-area .reply > .reply-header{
  background: #CDCDCD;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged{
  color: #8F6F3B;
  font-weight: bold;
}

#article-reply-area > .header h5{
  color: #77A3A8;
}

/*글쓴이:로그인*/
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span{
  color: #8F6F3B;
}

/*게시글 본문 페이지*/
#article-list > .article-list-row > .item > .list-header > span{
  background-color: #77A3A8;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count{
  color: #77A3A8;
}

/*페이지 넘김 버튼*/
/*호버 애니메이션
.pagination > li > a:hover{
animation: infinite
}*/
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
  background-color: #64C8B4;
  border-color: #64C8B4;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover{
  color: #77A3A8;
}

/*글쓰기 버튼*/
.btn-primary{
  background: #64C8B4;
  border-color: #64C8B4;
}

.btn-primary:hover{
  background: #64C8B4;
  border-color: #64C8B4;
}
