/* 색 1: 64E1A0
/* 색 2: DCAA5A
/* 색 밝게: 78FAA5
/* 색 어둡게: 64C8B4
/* 색상 추후 변경

/* 트게더 로고 */
header .row>div:nth-child(1)>a{
  background-repeat:no-repeat;
  display: block; height: 60px;
  background-image: url("https://spaaace.github.io/StreamerGageu/images/%EA%B0%80%EA%B2%8C%EB%8D%94%20%EB%A1%9C%EA%B3%A0(%EC%9E%84%EC%8B%9C).png");
}
header .row>div:nth-child(1)>a img{
	opacity: 0;
}

/*뒷배경 색상*/
html, body{
  background-color: #787878;
  height:auto;
}

/*헤더 바(로고 밑 최근... 칸)*/
header #header-bar>.row{
    border-top:4px solid #64C8B4;
}
header #header-bar a.dropdown-toggle{
  color: #64E1A0;
}
header #header-bar #header-top-notice strong.notice-badge{
  background: #DCAA5A;
}


/*검색 창*/
header #right-search-form>#right-search-btn{
  color: #64E1A0;
}
header #right-search-form>input[type=text]{
border-color: #64E1A0;
}

/*왼쪽 트게더 메뉴*/
#main .menu-wrapper>.header{
    background: #DCAA5A;
}
#main .menu-wrapper>a>em{
    color: #64D2B4;/*색2 변형*/
}
#main .menu-wrapper .spacer{
    background: #E6FFB4/*색 연하게*/;
}
/*아래 유용한 링크 밑 네모칸 색상*/

/*글쓰기 버튼*/
.btn-primary{
   background: #64E1A0;
   border-color: #64E1A0;
 }
 .btn-primary:hover{
   background: #64E1A0;
   border-color: #64E1A0;
   /*나중에 버그 시 애니메이션으로 대체*/
 }

 /*페이지 넘김 버튼*/
 /*
 호버 애니메이션
 .pagination > li > a:hover {
 animation: infinite
}
 */
 .pagination > .active > a,
 .pagination > .active > a:focus,
 .pagination > .active > a:hover,
 .pagination > .active > span,
 .pagination > .active > span:focus,
 .pagination > .active > span:hover{
    background-color: #64E1A0;
    border-color: #64E1A0;
  }

  /*본문:(게시글)*/
  /*즐겨찾기 있는 칸*/

  /*카테고리 창*/
  #article-list #article-list-category{
      border-top:3px #64C8B4;
      background: #78FAA5;
      /*카테고리 각각 백그라운드 색*/
  }

  /*글쓴이:로그인*/
  #article-list>.article-list-row>.item>.list-title>.list-writer.logged>span{
      color: #78E6BE/*색 진하고 연하게*/;
  }

  /*게시글 본문 페이지*/
