/* 뒷배경: #696969
   연두색 밝게: #64E1A0
   연두색 어둡게: #64C8B4
   갈색 밝게: #DCAA5A
   연두색 밝고 연하게: #64D2B4
   초록색 연하게: #E6FFB4
   연두색 연하고 어둡게: #32C882

/*뒷배경*/
html, body{
  background-color: #696969;
  height:auto;
}

/*그림자 */
header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame{
  box-shadow: 4px 0px 10px;
}

/* 트게더 로고 */
header .row > div:nth-child(1) > a{
  background-repeat:no-repeat;
  display: block;
  height: 50px;
  background-image: url("https://spaaace.github.io/StreamerGageu/images/logo2.png");
}

header .row>div:nth-child(1)>a img{
  opacity: 0;
}

/*검색 창*/
header #right-search-form > #right-search-btn{
  color: #64E1A0;
}

header #right-search-form > input[type=text]{
  border-color: #64E1A0;
  border-width:5px;
}

/*헤더 바(로고 밑 최근... 칸)*/
header #header-bar > .row{
  border-top:4px solid #64C8B4;
  border-left:0px;
  border-bottom:1px;
  border-right:1px;
}

header #header-bar a.dropdown-toggle{
  color: #B48232;
}

header #header-bar #header-top-notice strong.notice-badge{
  background: #DCAA5A;
}

/*왼쪽 트게더 메뉴*/
#main .menu-wrapper{
  border-right:1px;
  border-bottom:1px;
}

#main .menu-wrapper > .header{
  background: #DCAA5A;
}

#main .menu-wrapper > a > em, #main .menu-wrapper > a > i.fa.fa-square{
  color: #64D2B4;
}
#main .menu-wrapper .spacer{
  background: #E6FFB4;
}

/*아래 유용한 링크 밑 네모칸 색상*/

/*본문:(게시글)*/
/*즐겨찾기 있는 칸*/
#board-info #viewers-area #viewers:before{
  content: "불빠따 ";
  cursor: text;
}

#board-info #viewers-area #viewers:after{
  content: "명 상시 대기중";
  cursor : text;
}

#board-info #board-info-bottom a{
  color:#32C882
}

/*카테고리 창*/
#article-list #article-list-category{
  border-top:3px solid #64C8B4;
  background: #464646;
}

#article-list #article-list-category > a{
  background: #5A5A5A;
  border-bottom: 3px solid;
}

#article-list #article-list-category > a.active, #article-list #article-list-category > a:hover{
  background: #464646;
  color: #fff !important;
  border-bottom: 3px solid #333;
}

/*게시글*/
#article-content-wrapper > .header{
  border-top: 2px solid #64C8B4;
  background: #BEBEBE;
}

#article-content-wrapper > .footer{
  border-top, border-bottom: 2px solid #64C8B4;
  background: #BEBEBE;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged{
  color: #1EB46E;
}

#article-reply-area > .header h5{
  color: #1EB46E;
}

/*글쓴이:로그인*/
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span{
  color: #32C882;
}

/*게시글 본문 페이지*/
#article-list > .article-list-row > .item > .list-header > span{
  background-color: #32C882;
  color: #fff;
  font-weight: bold;
  padding: 1px 5px;
  font-size: 11px;
  border-radius: 100px;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count{
  color: #32C882;
}

/*페이지 넘김 버튼*/
/*호버 애니메이션
.pagination > li > a:hover{
animation: infinite
}*/
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
  background-color: #64E1A0;
  border-color: #64E1A0;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover{
  color: #32C882;
}

/*글쓰기 버튼*/
.btn-primary{
  background: #64E1A0;
  border-color: #64E1A0;
}

.btn-primary:hover{
  background: #64E1A0;
  border-color: #64E1A0;
}
