/*폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
  letter-spacing: 0px !important;
  font-family: 'Nanum Gothic', sans-serif;
}

/*뒷배경*/
#main-content, body, footer{
  background: #696969 !important;
}

/*헤더 바*/
header{
  border-bottom: 2px solid #64C8B4 !important;
  background: #696969 !important;
}

header > #header-area > a > h1{
  background: url*( /*로고*/ ) no-reapeat;
  background-size: contain;
}

header > #header-area > #header-search-link, header > #header-area > #header-bar-link, header > #header-search-bar #header-close-search-btn, header > #header-search-bar #header-search-btn{
  color: #64E1A0;
}

header > #header-search-bar #header-search-input{
  border: 2px solid #64E1A0;
}

/*네비게이터*/
nav#nav > .nav-header{
  background: #DCAA5A;
  border-top: 2px solid #C8E196;
}

/*광고 칸*/
#header-top-notice a{
  font-weight: bold;
  color: #64C8B4;
}

#header-top-notice strong.notice-badge{
  background: #DCAA5A;
}

/*광고 아래*/
#board-info{
  background: #F0BE6E;
  border-top: 3px solid #B48232;
  border-bottom: 0px;
}

#board-info > h1 > a{
  text-decoration: none;
  font-weight: bold;
}

#board-info > a.board-right-menu{
  border: 0px;
  color: #B48232;
}

/*카테고리 */
#article-list #article-list-category{
  background: #464646;
}

#article-list #article-list-category > a{
  padding: 11px 12px;
  background: #5A5A5A;
  border-bottom: 3px solid;
}

#article-list #article-list-category > a.active, #article-list #article-list-category > a.hover{
  background: #464646;
  color: #fff !important;
}

/*공지글 */
#article-list > .article-list-row.notice{
  background: #F0BE6E !important;
}

#article-list > .notice > .item > .list-time, #article-list > .notice > .item > .list-title > small.comment-count, #article-list > .notice > .item > .list-title > .list-writer.logged > span{
  color: #fff;
}

/*게시글 본문 */
#article-list > .article-list-row > .item > a.list-title > small.comment-count{
  color: #32C882;
}

#article-list > .article-list-row > .item > .list-header > span{
  background-color: #32C882;
}

#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span{
  color: #C89646;
}

/*게시글 (수정 필요)*/
#article-info > h2{
  font-weight: bold;
}

#article-content-wrapper > .header{
  border-top: 2px solid #64C8B4;
  background: #CDCDCD;
}

#article-content-wrapper > .footer{
  border-top: 2px solid #64C8B4;
  border-bottom: 2px solid #64C8B4;
  background: #CDCDCD;
}

#article-reply-area #reply-real-area .reply > .reply-header{
  background: #CDCDCD;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged{
  font-weight: bold;
  color: #D2A050;
}

#article-reply-area > .header h5{
  color: #1EB46E;
}

/*페이지 */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
  background-color: #F0BE6E;
  border-color: #F0BE6E;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover{
  color: #F0BE6E;
}

/*글쓰기 버튼 */
.btn-primary{
  background: #64E1A0;
  border-color: #64E1A0;
}

.btn-primary:hover{
  background: #64E1A0;
  border-color: #64E1A0;
}
