/*폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
  letter-spacing: -0.05em !important;
  font-family: 'Nanum Gothic', sans-serif;
}

/*뒷배경*/
#main-content, body, footer{
  background: #DBDBDB !important;
}

/*헤더 바*/
header{
  border-bottom: 3px solid #64C8B4 !important;
  background: #DBDBDB !important;
}

header > #header-area > #header-search-link, header > #header-area > #header-bar-link, header > #header-search-bar #header-close-search-btn, header > #header-search-bar #header-search-btn{
  color: #64C8B4;
}

header > #header-search-bar #header-search-input{
  border: 2px solid #64C8B4;
}

/*로고 */
header > #header-area > a > h1{
  background: url('https://spaaace.github.io/StreamerGageu/images/logo2.png') no-repeat;
  background-size: 90px 36px;
}

/*네비게이터*/
nav#nav > .nav-header{
  background: #DCAA5A;
}

/*광고 칸*/
#header-top-notice a{
  font-weight: bold;
  color: #64C8B4;
}

#header-top-notice strong.notice-badge{
  background: #DCAA5A;
}

/*광고 아래*/
#board-info{
  background: #DCAA5A;
  border-top: 3px solid #8F6F3B;
  border-bottom: 0px;
}

#board-info > h1 > a{
  text-decoration: none;
  font-weight: bold;
}

#board-info > a.board-right-menu{
  border: 0px;
  color: #8F6F3B;
}

/*카테고리 */
#article-list #article-list-category{
  background: #242424;
}

#article-list #article-list-category > a{
  padding: 11px 12px;
  background: #242424;
  border-bottom: 3px solid;
  font-weight: bold;
}

#article-list #article-list-category > a.active, #article-list #article-list-category > a.hover{
  background: #242424;
  color: #fff !important;
}

/*공지글 */
#article-list > .article-list-row.notice{
  background: #DCAA5A !important;
}

#article-list > .notice > .item > .list-time, #article-list > .notice > .item > .list-title > small.comment-count, #article-list > .notice > .item > .list-title > .list-writer.logged > span{
  color: #8F6F3B;
}

/*게시글 본문 */
#article-list > .article-list-row > .item > a.list-title > small.comment-count{
  color: #77A3A8;
}

#article-list > .article-list-row > .item > .list-header > span{
  background-color: #77A3A8;
}

#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span{
  color: #8F6F3B;
}

/*게시글*/
#article-content-wrapper > .header{
  border-top: 2px solid #64C8B4;
  background: #E8FCFF;
}

#article-content-wrapper > .footer{
  border-top: 2px solid #64C8B4;
  border-bottom: 2px solid #64C8B4;
  background: #E8FCFF;
}

#article-reply-area #reply-real-area .reply > .reply-header{
  background: #E8FCFF;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged{
  font-weight: bold;
  color: #8F6F3B;
}

#article-reply-area > .header h5{
  color: #64C8B4;
}

/*페이지 */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
  background-color: #64C8B4;
  border-color: #64C8B4;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover{
  color: #77A3A8;
}

/*글쓰기 버튼 */
.btn-primary{
  background: #64C8B4;
  border-color: #64C8B4;
}

.btn-primary:hover{
  background: #64C8B4;
  border-color: #64C8B4;
}
